.bg-green {
    background-color: #003726;
}

ul {
    list-style-type: disc !important;
}

a.link {
    color: #005949;
}

a.link:hover {
    color: #003726;
}

.bg-green-middle {
    background-color: #004733;
}

.bg-green-light {
    background-color: #00aa8b;
}

nav .h-full .relative,
nav .h-full .relative > div,
nav .h-full .relative > div > a {
    height: 100%;
}

.articles-table tr:nth-child(even),
.order-table tr:nth-child(even){
    background-color: #0b1a2c;
}

#search-form img {
    cursor: pointer;
}

#search-form img:hover {
    opacity: 0.5;
}

span.marked {
    background-color: #008152;
}

#basket-counter {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    border-radius: 50%;
    position: absolute;
    font-weight: bolder;
    font-size: 11px;
    color: white;
    margin-left: 18px;
    margin-top: -7px;
}

.basket-counter {
    padding: 4px 12px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: #1a202c;
    border: 1px solid gray;
    font-weight: bolder;
}

.basket-counter:hover {
    background-color: #2b3b4e;
}

/*nav .h-full div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.owl-nav {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: calc(50% - 30px);
    transform: translateY(-50%);
}

.owl-nav > button > span {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.owl-dots {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    position: absolute;
    bottom: 50px;
}

.owl-dots > button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray !important;
    margin: 0 2px;
}

.owl-dots > button.active {
    background-color: white !important;
}

.icon-input {
    width: 15px;
    position: absolute;
    margin-left: 10px;
    margin-top: 13px;
}

.contact-icon {
    width: 20px;
    margin-right: 8px;
}

#on_top_button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    display: none;
    z-index: 999;
}

.pagination nav p.text-sm {
    display: none;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.6;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader > div {
    width: 50px;
    height: 50px;
    background-image: url("/public/storage/images/preloader.gif");
    background-size: 100%;
}

.big-table-container {
    width: 100%;
    /*overflow-x: scroll;*/
}

.articles-table {
    width: 100%;
    min-width: 1024px;
}

@media (max-width: 1280px) {
    .owl-carousel.slider {
        padding-left: 20px;
        padding-right: 20px;
    }

    .owl-nav {
        width: calc(100% - 40px);
    }

    .owl-nav > button > span {
        font-size: 50px;
    }
}
